.register-input-group {
  position: relative;
}
.register-input-group__input {
  font: inherit;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: 2px solid #531688;
  background-color: transparent;
  transition: outline-color 500ms;
}
.register-input-group__input:is(:focus, :valid) {
  outline-color: #531688;
}
.register-input-group__label {
  position: absolute;
  top: 0;
  left: 0;
  translate: 10px 10px;
  color: #fff;
  transition: translate 500ms, scale 500ms;
}
.register-input-group__input:focus + .register-input-group__label,
.register-input-group__input:valid + .register-input-group__label {
  padding-inline: 5px;
  translate: 10px -14px;
  scale: 0.9;
  background-color: black;
}
