@use 'reset';
@use 'variables' as v;

body {
  background-color: v.$background-color;
  color: v.$text-color;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: v.$primary-color;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: darken(v.$primary-color, 20%);
}

.menu {
  background-color: v.$background-color;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.menu-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-link {
  color: v.$text-color;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s;
}

.menu-link--selected {
  color: v.$primary-color;
}

.app {
  height: 100vh;
  max-height: 100vh;

  .menu {
    min-height: 15vh;

    .menu-nav {
      display: flex;
      justify-content: space-around;
    }
  }

  .main {
    width: 100vw;
    height: 80vh;

    .secondary-navbar {
      @keyframes slide {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes deslide {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
      animation: slide 2s;
      width: 11vw;
      float: left;
      background-color: rgba(190, 187, 187, 0.15);
      height: fit-content;
      max-height: 50vh;
      margin-top: 10vh;
      box-shadow: 3px 3px 3px #753606;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      h3 {
        animation: slide 2s;
        border-bottom: 1px solid grey;
        padding: 16px 24px;
        font-size: 18px;
      }
      ul {
        animation: slide 2s;
        li {
          animation: slide 2s;
          border-bottom: 1px solid grey;
          padding: 16px 24px;
          font-size: 14px;
        }
        li:last-child {
          border-bottom: none;
        }
      }

      &--home {
        display: none;
      }
    }

    .main-container {
      box-shadow: 3px 3px 3px 3px #753606;
      width: 75vw;
      height: 70vh;
      margin: 1em;
      margin-top: 2em;
      margin-right: 13.5em;
      float: right;
      background-color: rgba(190, 187, 187, 0.15);
      overflow-y: scroll;
      border-radius: 10px;

      .main-title {
        text-align: center;
        animation: slide 2s;
      }

      .main-cocktail-list {
        padding: 1.5em;
        animation: slide 2s;
        button {
          background-color: #c59f2b;
          border: none;
          color: v.$text-color;
          padding: 10px 20px;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;
          border-radius: 10px;
        }

        button:hover {
          background-color: darken(v.$primary-color, 20%);
        }
        .main-cocktail-list-article {
          padding: 1em;
          animation: slide 2s;
        }
      }
    }
  }
}
