@use 'reset';
@use 'variables' as v;

body {
  background-color: v.$background-color;
  color: v.$text-color;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: v.$primary-color;
  text-decoration: none;
  transition: color 0.3s;
  &:hover {
    color: darken(v.$primary-color, 20%);
  }
}

button {
  background-color: v.$primary-color;
  border: none;
  color: v.$text-color;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  &:hover {
    background-color: darken(v.$primary-color, 20%);
  }
}

button:hover .menu {
  background-color: v.$background-color;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  &-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.menu-link {
  color: v.$text-color;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s;
  &--selected {
    color: v.$primary-color;
  }
}

.app {
  height: 100vh;
  .menu {
    height: 15vh;

    .menu-nav {
      display: flex;
      justify-content: space-around;
    }
  }
  .main {
    width: 100vw;
    height: 80vh;
    .secondary-navbar {
      width: 11vw;
      float: left;
      background-color: grey;
      height: 60vh;
      margin-top: 10vh;
      padding: 10px;
      &--home {
        display: none;
      }
    }

    .main-container {
      width: 75vw;
      height: 70vh;
      margin: 1em;
      margin-top: 2em;
      margin-right: 13.5em;
      float: right;
      background-color: grey;
      overflow-y: scroll;
      .main-title {
        text-align: center;
      }
      .main-cocktail-list {
        padding: 1.5em;
        .main-cocktail-list-article {
          padding: 1em;
        }
      }
    }
  }
}
