.spinner {
  background-color: dimgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  p {
    animation: slider 2s;
    color: violet;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    width: 30vw;
    height: 15vh;
  }
  @keyframes slider {
    from {
      opacity: 0;
    }
  }
  to {
    opacity: 1;
  }
}
