cocktailByCat-main {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  .cocktailList-sidebar {
    width: 14vw;
    float: left;
    background-color: brown;
  }
  .cocktailsByCat {
    background-color: maroon;
    height: 60vh;
    max-width: 60vw;
  }
}
